#vis-timeline .data-line {
	stroke: #247BA0;
	stroke-width: 2;
	fill: none;
	stroke-dasharray: 0;
}

#vis-timeline .data-line2 {
	stroke: #FF1654;
	stroke-width: 2;
	fill: none;
	stroke-dasharray: 0;
}


#vis-timeline path {
    stroke: #ececec;
    stroke-width: 2;
    stroke-dasharray: 0;
    fill: none;
}

#vis-timeline .area {
  	fill: #247BA0;
}

#vis-timeline text {
	font-family: "Raleway", sans-serif;
	font-size: 10px;
	fill: black;
}

#vis-timeline .line {
	stroke: #CDCDCD;
	stroke-width: 0.5;
	/* stroke-dasharray: 3 3; */
	fill: none;
}

.data-point {
	stroke: #247BA0;
	stroke-width: 2;
	fill: #FFF;
}

