/* GENERAL  */

body {
    background-color: #e2e2e22e;
    font-family: "Raleway", sans-serif;
    font-size: 15px;

}
text {
  font-family: "Raleway", sans-serif;
}

.card {
    background: #fff;
    border-radius: 2px;    
    margin-top: 20px;
    padding-bottom: 20px;
  }
  

.card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

.slide-box{
    text-align: center;
    margin: 0 5%;
}


/* FLAT SLIDER  */

.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
  border-radius: 0;
}

.flat-slider.ui-slider {
  border: 0;
  background: #d3d3d3;
  border-radius: 7px;
}

.flat-slider.ui-slider-horizontal {
  height: 6px;
}

.flat-slider.ui-slider-vertical {
  height: 15em;
  width: 6px;
}

.flat-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background: #5c5c5c;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -10px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  margin-left: -10px;
}

.flat-slider .ui-slider-handle:hover {
  opacity: .8;
}

.flat-slider .ui-slider-range {
  border: 0;
  border-radius: 7;
  background: #f99;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 6px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 6px;
}


/******************************  
  CUSTOM DATATABLES SORT IMAGES 
*******************************/

table.dataTable thead .sorting {
  background-image: url(../img/sort_both.png);
}

table.dataTable thead .sorting_desc {
  background-image: url(../img/sort_desc.png);
}

table.dataTable thead .sorting_asc {
  background-image: url(../img/sorting_asc.png);
}

table.dataTable thead .sorting_desc_disabled {
  background-image: url(../img/sorting_desc_disabled.png);
}

table.dataTable thead .sorting_asc_disabled {
  background-image: url(../img/sorting_asc_disabled.png);
}



/******************************  
      jQuery UI - Icons
*******************************/

.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("../img/ui-icons_444444_256x240.png");
}
.ui-widget-header .ui-icon {
	background-image: url("../img/ui-icons_444444_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
	background-image: url("..img/ui-icons_555555_256x240.png");
}
.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
	background-image: url("..img/ui-icons_ffffff_256x240.png");
}
.ui-state-highlight .ui-icon,
.ui-button .ui-state-highlight.ui-icon {
	background-image: url("../img/ui-icons_777620_256x240.png");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url("..img//ui-icons_cc0000_256x240.png");
}
.ui-button .ui-icon {
	background-image: url("../img/ui-icons_777777_256x240.png");
}